$color-dusty-gray: #989898;
$color-mine-shaft: #333;
$color-bermuda-gray: #6B8BA2;
$color-mystic: #E2EBED;
$color-alabaster: #FCFCFC;
$color-white-sand: #F5F5F5;
$color-mercury: #E6E6E6;
$color-jungle-green: #28B778;
$color-athens-gray: #F5F5F6;
$color-shadow-gray: rgba(205, 205, 210, 0.25);
$color-tuna: #38383D;
$color-tuna-light: rgba(105, 105, 114, 0.5);